/****************************** 
        Contact 
******************************/
@media screen and (min-width: 0px) {
  #contact .container {
    padding: 3rem 0;
  }
  #contact form {
    display: flex;
    flex-direction: column;
  }

  #contact form input,
  #contact form textarea {
    margin-bottom: 1rem;
  }
}
